
.reload-form {
 right: 20px;
 top: 20px;
 position: absolute;
}

.small {
    font-size: 50%;
}

.fixed {
 font-family: "Courier New",Courier,monospace;
}

.hidden {
    display: none;
}

.profile-icon-drop {
    height: 125px;
    width: 125px;
    padding: 5px;
    border: 2px solid gray;
}
